@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root {
    /*colors*/
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --backgorund-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AD;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: linear-gradient(to right, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(to right, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);

    /*fonts*/
    --ff-sora: Sora , "sans-serif";
    --ff-roboto-mono: Roboto Mono, "monospace";
    --ff-roboto-flex: Roboto Flex, "sans-serif";

    /*font sora*/
    --sora-large: 800 40px var(--ff-sora);
    --sora-medium: 800 32px var(--ff-sora);
    --sora-small: 600 32px var(--ff-sora);

    /*font roboto mono*/
    --rm-overline: 700 16px var(--ff-roboto-mono);

    /*font roboto flex*/
    --rf-p-large: 500 16px var(--ff-roboto-flex);
    --rf-p-medium: 500 14px var(--ff-roboto-flex);
    --rf-p-small: 500 12px var(--ff-roboto-flex);
    --rf-l-medium: 700 20px var(--ff-roboto-flex);
    --rf-l-small: 700 16px var(--ff-roboto-flex);
}

*{
    margin: 0;
    padding: 0;
}